body {
    margin: 0;
    padding: 0;
    background-color: #f5f5dc;
}

header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: top;
    gap: 260px;
    background-color: #ffe6044b;
}

.logotipo {
    width: 70px;
    height: 70px;
    padding-top: 5px;
}

.lista-header ul {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 15px;
    list-style-type: none;
}

.lista-header li {
    font-size: 20px;
    margin-top: 30px;
}


.titulo-header {
    font-size: 24px;
    color: rgb(20, 128, 6);
    font-family: "Fleur De Leah", cursive;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.paragrafo-header h2 {
    font-size: 100px;
    margin-left: 40px;
    font-family: "Fleur De Leah", cursive;
    font-weight: 400;
    font-style: normal;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    color: white;
    background-color: rgba(255, 255, 255, 0.103);
}

.paragrafo-header p {
    font-size: 20px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    background-color: #0000002c;
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.sessao-01 {
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url(imagens/cortar-mulher-com-flor-falando-no-smartphone.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
}


.sessao-02{
    background-color: #f5f5dc;
    height: 930px;
}

.sessao-02 p {
    margin-left: 560px;
    font-size: 40px;
    font-weight: 900;
}

.sessao-02 hr {
    width: 1000px;
    border: 1px solid #000;
}

.div-geral {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 350px;
    margin-left: 540px;
    gap: 40px;
    margin-top: 60px;
}

.divs-01 {
    width: 300px;
    height: 400px;
}

.divs-01 img {
    width: 300px;
    height: 300px;
}

.divs-01 h3 {
    font-size: 15px;
}

.div-geral button {
    border-radius: 5px;
    color: white;
    background-color: #FC1600;
    padding: 6px;
}

.div-geral-02 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 260px;
    height: 350px;
    margin-left: 540px;
    gap: 40px;
}

.divs-2 {
    width: 300px;
    height: 400px;
}

.divs-2 img {
    width: 300px;
    height: 300px;
}

.divs-2 h3 {
    font-size: 15px;
}

.div-geral-02 button {
    border-radius: 5px;
    color: white;
    background-color: #FC1600;
    padding: 6px;
}

footer {
    background-color:#5f7f67;
    color: white;
    font-size: 20px;
    height: 100px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divs-01:hover {  
    box-shadow: 10px 15px 15px grey;
}

.divs-2:hover {  
    box-shadow: 10px 15px 15px grey;
}